# Hugging Face Authentication Token (Fixes the download rate limit warning)
HF_TOKEN=hf_your_actual_token_copied_from_huggingface

# LiteLLM Configuration Secrets
LITELLM_MASTER_KEY=sk-your_actual_master_key
