# Hugging Face Authentication Token (Fixes the download rate limit warning)
HF_TOKEN=hf_your_actual_token_copied_from_huggingface

# LiteLLM Configuration Secrets
LITELLM_MASTER_KEY=sk-61316cfcc4baadbcc0303665ee47bb5e97fa1e09759212341ee618e9e8d93765
