# Hugging Face Authentication Token (Fixes the download rate limit warning)
HF_TOKEN=hf_your_actual_token_copied_from_huggingface
OLLAMA_PROMETHEUS=true

LITELLM_MASTER_KEY=sk-your_actual_master_key_copied_from_litellm
LITELLM_SALT_KEY=sk-your_actual_salt_key_copied_from_litellm
STORE_MODEL_IN_DB="True"
